:root{
    --color1: #000000;
    --color2: #0b1937;
    --color3: #FCA311;
    --color4: #fdf0d5;
    --color5: #E5E5E5;
    --color6: #c7ad8f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--color1);
    color: var(--color4);
    font-family: 'Raleway';
    font-weight: 300;
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ABOUT ME HEADER */

.about-me-header{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: column;
}

/* FIN ABOUT ME HEADER */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 1% 2%;
    height: 50px;
}

.nav-header{
    display: flex;
    gap: 15px;
    align-items: center;
}

.div-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-header h4, .div-header h6{
    color: var(--color3);
}

.div-header{
    text-align: center;
}

.header-title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title h1, .header-title h3{
    background: none;
}

.about-me{
    width: 100%;
    background-color: var(--color2);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

.about-me .skills{
    background-color: var(--color2);
}

.a-skills{
    background-color: var(--color2);
}

.webs{
    background-color: var(--color2);
}

.div-main{
    padding-bottom: 10%;
}

.div-main h3{
    font-family: 'Unbounded';
    font-size: 25px;
    color: var(--color6);
    padding: 5%;
    padding-bottom: 0;
}

.skills h3{
    font-family: 'Unbounded';
    font-size: 25px;
    color: var(--color6);
    padding: 5%;
    padding-bottom: 0;
    background-color: var(--color2)
}

.skills2 h3{
    font-family: 'Unbounded';
    font-size: 25px;
    color: var(--color6);
    padding: 5%;
    padding-bottom: 0;
}

.underline-h3{
    width: 50px;
    border-top: 3px solid var(--color3);
    margin-bottom: 15px;
    margin-left: 5%;
}

.div-main p{
    padding: 0 5%;
    line-height: 25px;
}

.div-main h4, .h4-skills2{
    font-size: 20px;
    font-family: 'Unbounded';
    color: var(--color6);
    padding: 5%;
    padding-bottom: 0;
}

.div-main h6{
    font-size: 1em;
    font-family: 'Unbounded';
    color: var(--color6);
    padding: 5%;
    padding-bottom: 0;
}

.div-main-img{
    padding: 20px 0 10px;
    height: 33vw;
    display: block;
    margin: 0 auto;
}

.underline-h4{
    width: 50px;
    border-top: 1px solid var(--color3);
    margin-bottom: 15px;
    margin-left: 5%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10%;
    list-style-type: none;
    background-color: var(--color2);
}

li{
    background-color: var(--color2);
}

.skill-p{
    padding-bottom: 20px;
    background-color: var(--color2);
}

.skills-p2{
    margin-bottom: 20px;
}

.a-skill{
    background-color: var(--color2);
}

.final-p{
    margin-bottom: -10px;
    background-color: var(--color2);
}

.final-p2{
    margin-bottom: -10px;
    background-color: var(--color2);
}

.skills h6, .skills p{
    background-color: var(--color2);
}

.wave1{
    background-image: url(./assets/img/wave.svg);
    height: 50px;
    width: 100%;
}

.wave2{
    background-color: #0b1937;
    background-image: url(./assets/img/wave2.svg);
    height: 50px;
    width: 100%;
    /* background-color: white; */
}

/* ------------ PROYECTOS ----------- */

.gallery-skills{
    background-color: var(--color2);
    padding: 2% 5% 3%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 40vh;
    grid-template-areas: 
    "img1"
    "img2"
    "img3";
    gap: .5em;
}

.figure-gallery-skills{
    position: relative;
    cursor: pointer;
}

.figure-gallery-skills::before{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000003c;
    transform: scale(0);
    transition: transform 0.5s;
    overflow: hidden;
}

.figure-gallery-skills:hover::before{
    transform: scale(1);
    overflow: hidden;
}

.img-gallery-skills{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.figure-gallery-skills-1{
    grid-area: img1;
}

.figure-gallery-skills-2{
    grid-area: img2;
}

.figure-gallery-skills-3{
    grid-area: img3;
}

.figure-gallery-4{
    grid-area: img4;
}

.figure-gallery-5{
    grid-area: img5;
}

.figure-gallery-6{
    grid-area: img6;
}

.figure-gallery-7{
    grid-area: img7;
}

.figure-gallery-8{
    grid-area: img8;
}

.figure-gallery-9{
    grid-area: img9;
}

.figure-gallery-10{
    grid-area: img10;
}

/* ------------ CONTACT ------------------- */

.div-contact{
    width: 100vw;
}

.location{
    padding: 2% 5%;
    width: 100%;
}

.contact-form{
    width: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
}

.contact-form h4{
    font-size: 20px;
    font-family: 'Unbounded';
    color: var(--color6);
    padding: 5%;
    padding-bottom: 0;
}

.contact-form-div{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.contact-form-div input, .contact-form-div textarea{
    border: none;
    background-color: var(--color2);
    padding: 7px;
}

input::placeholder, textarea::placeholder{
    opacity: 0.4;
    color: white;
    font-size: 14px;
    padding-left: 2%;
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

.buttons button{
    padding: 9px 30px;
    font-size: 14px;
    border: none;
    background-color: var(--color2);
}

/* ------------ FIN CONTACT ------------- */


/* ------------ WORK I'VE DONE ------------ */

.img1-skills2{
    padding: 2% 5%;
    width: 100%;
    cursor: pointer;
    background-color: var(--color2);
}

/* ESTO IRÍA A MEDIA QUERIES */

/* .tj-skills2{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

.img1-skills2{
    width: 35vw;
    height: auto;
    border-radius: 25px;
}

.h4-skills2{
    margin-bottom: 15px;
} */


/* ---------------GALERÍA DE IMÁGENES MOBILE FIRST----------------------- */
.gallery{
    padding: 2% 5% 3%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 60vh;
    grid-template-areas: 
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "img8"
    "img9"
    "img10";
    gap: .5em;
}

.photos-h2{
    text-align: center;
    padding: .8em 0 .4em;
}

.figure-gallery{
    position: relative;
    cursor: pointer;
}

.figure-gallery::before{
    content: "@federicofaccipieri";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000003c;
    transform: scale(0);
    transition: transform 0.5s;
    overflow: hidden;
}

.figure-gallery:hover::before{
    transform: scale(1);
    overflow: hidden;
}

.img-gallery{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.figure-gallery-1{
    grid-area: img1;
}

.figure-gallery-2{
    grid-area: img2;
}

.figure-gallery-3{
    grid-area: img3;
}

.figure-gallery-4{
    grid-area: img4;
}

.figure-gallery-5{
    grid-area: img5;
}

.figure-gallery-6{
    grid-area: img6;
}

.figure-gallery-7{
    grid-area: img7;
}

.figure-gallery-8{
    grid-area: img8;
}

.figure-gallery-9{
    grid-area: img9;
}

.figure-gallery-10{
    grid-area: img10;
}

/* ----------- MEDIA QUERIES --------------- */

@media (min-width:720px){
    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 60vh;
        grid-template-areas: 
        "img1 img3"
        "img2 img2"
        "img2 img2"
        "img4 img5"
        "img10 img10"
        "img10 img10"
        "img6 img7"
        "img8 img9";
        gap: .5em;
    }
}

@media (min-width: 1000px){
    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 60vh;
        grid-template-areas: 
        "img1 img3 img2 img2"
        "img4 img5 img2 img2"
        "img10 img10 img6 img7"
        "img10 img10 img8 img9";
        gap: .5em;
    }
}


/* ---------------GALERÍA DE IMÁGENES PARA MEDIA QUERIE XXL----------------------- */
/* .gallery{
    padding: 1em 10% 3em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 500px;
    grid-template-areas: 
    "img1 img3 img2 img2"
    "img4 img5 img2 img2"
    "img10 img10 img6 img7"
    "img10 img10 img8 img9";
    gap: .5em;
} 

.photos-h2{
    text-align: center;
    padding: .8em 0 .4em;
}

.img-gallery{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.figure-gallery-1{
    grid-area: img1;
}

.figure-gallery-2{
    grid-area: img2;
}

.figure-gallery-3{
    grid-area: img3;
}

.figure-gallery-4{
    grid-area: img4;
}

.figure-gallery-5{
    grid-area: img5;
}

.figure-gallery-6{
    grid-area: img6;
}

.figure-gallery-7{
    grid-area: img7;
}

.figure-gallery-8{
    grid-area: img8;
}

.figure-gallery-9{
    grid-area: img9;
}

.figure-gallery-10{
    grid-area: img10;
} */